# Data files
*.coffea
*.root
*.dat
*.pkl
*.hdf5

# Checkpoints & cache directories
.ipynb_checkpoints/
workflows/__pycache__/
dask-worker-space/
.vscode/
*.pyc

# Python envs
env/
.env/
venv/
.venv/
myenv/
.myenv/

# Log & txt files
dask-report.html
*.log
*.err
*.out
*.sub
*.txt

# Image files
*.png
*.pdf
