# Data files
*.coffea
*.root
*.dat
*.pkl
*.hdf5

# Checkpoints & cache directories
.ipynb_checkpoints/
workflows/__pycache__/
dask-worker-space/
.vscode/
*.pyc

# Log & txt files
dask-report.html
*.log
*.err
*.out
*.sub

# Shell scripts (do we really want to exclude those???)
*.sh

# Image files
*.png
*.pdf
